.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.spacer {
  flex: 1 1 auto;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  object-fit: cover;

  border: 1px solid #ddd;
}
