.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  height: 80%;

  .spacer {
    flex: 1 1 auto;
  }
}

[color='warn'] {
  color: #f44336;
}
