# Forces npm to use the legacy peer dependency resolution algorithm.
legacy-peer-deps=true

# Prevents scripts like Husky from running during the initial install phase
# to break the "Catch-22" cycle.
ignore-scripts=true