<mat-tab-group [selectedIndex]="selectedTabIndex()" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Bills">
    <ng-template matTabContent>
      @if (selectedTabIndex() === 0) {
      <app-table [dataSource]="bills()" [columnSource]="billCols" [state]="state()"></app-table>
      }
    </ng-template>
  </mat-tab>

  <mat-tab label="Assemblymembers">
    <ng-template matTabContent>
      @if (selectedTabIndex() === 1) {
      <app-table
        [dataSource]="assemblyMembers()"
        [columnSource]="memberCols"
        [state]="state()"
      ></app-table>
      }
    </ng-template>
  </mat-tab>

  <mat-tab label="Senators">
    <ng-template matTabContent>
      @if (selectedTabIndex() === 2) {
      <app-table
        [dataSource]="senateMembers()"
        [columnSource]="memberCols"
        [state]="state()"
      ></app-table>
      }
    </ng-template>
  </mat-tab>
</mat-tab-group>
