<mat-tab-group>
  <mat-tab label="Bills">
    <ng-template matTabContent>
      <app-table [dataSource]="bills()" [columnSource]="billCols"></app-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Assemblymembers">
    <ng-template matTabContent>
      <app-table [dataSource]="assemblyMembers()" [columnSource]="memberCols"></app-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Senators">
    <ng-template matTabContent>
      <app-table [dataSource]="senateMembers()" [columnSource]="memberCols"></app-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
