<mat-tab-group [selectedIndex]="selectedTabIndex()" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Bills">
    <ng-template matTabContent>
      @if (billsResource.isLoading()) {
      <div class="loading-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
      } @else if (billsResource.error()) {
      <div class="error">Failed to load bills</div>
      }@else if (selectedTabIndex() === 0) {
      <app-table
        [dataSource]="bills()"
        [columnSource]="billCols"
        [stateCd]="stateCd()"
        routeType="bill"
      >
      </app-table>
      }
    </ng-template>
  </mat-tab>

  <mat-tab label="Assembly Members">
    <ng-template matTabContent>
      @if (membersResource.isLoading()) {
      <div class="loading-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
      } @else if (membersResource.error()) {
      <div class="error">Failed to load members</div>
      } @else if (selectedTabIndex() === 1) {
      <app-table
        [dataSource]="assemblyMembers()"
        [columnSource]="memberCols"
        [stateCd]="stateCd()"
        routeType="member"
      ></app-table>
      }
    </ng-template>
  </mat-tab>

  <mat-tab label="Senators">
    <ng-template matTabContent>
      @if (membersResource.isLoading()) {
      <div class="loading-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
      } @else if (membersResource.error()) {
      <div class="error">Failed to load members</div>
      } @else if (selectedTabIndex() === 2) {
      <app-table
        [dataSource]="senateMembers()"
        [columnSource]="memberCols"
        [stateCd]="stateCd()"
        routeType="member"
      ></app-table>
      }
    </ng-template>
  </mat-tab>
</mat-tab-group>
