.loading-container,
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.row {
  display: flex;
  flex-direction: row;

  .spacer {
    flex: 1 1 auto;
  }
}

.headshot {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top center;

  border-radius: 50%;
}
