:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  flex: 0 0 auto;
  z-index: 20;

  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);

  .branding-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 16px;
  }

  .title {
    color: var(--mat-sys-on-primary);
    font-weight: 500;
  }
}

.sidenav-container {
  flex: 1 1 auto;
}

.sidenav {
  width: 150px;
}

.sidenav ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  flex: 1;

  .spacer {
    flex: 1 1 auto;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

[color='warn'] {
  color: var(--mat-sys-error);
}
