<div class="container">
  @if (user(); as u) {
    <div class="header">
      <img
        [src]="u['photoURL'] || 'assets/account_circle_40.svg'"
        class="user-avatar"
        alt="User Image"
      />
      <h1>Hello, {{ u['displayName'] }}!</h1>
    </div>

    <p>Your last login was {{ u['lastLogin'].toDate() | date: 'medium' }}</p>
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>{{ u['displayName'] }}</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>email</mat-icon>
        <span matListItemTitle>{{ u['email'] }}</span>
      </mat-list-item>
    </mat-list>
    @if (!u['legislators']) {
      <p>
        We don't currently have your legislative districts or representatives stored; would you like
        to input your address so we can fetch them?
      </p>
      <p>
        <b>Your address information will never be stored in our system</b>, once the fetch is
        complete we'll discard the address and only keep the districts & representatives.
      </p>
      <app-address-form formType="search" (formSubmit)="searchAddress($event)"></app-address-form>
    } @else {
      <h2>Your Representatives</h2>

      <mat-tab-group>
        <mat-tab label="State">
          <ng-template matTabContent>
            <app-table
              [dataSource]="u['legislators'].state"
              [columnSource]="legislatorCols"
              routeType="member"
              stateCd="ny"
            ></app-table>
          </ng-template>
        </mat-tab>
        <mat-tab label="Federal">
          <ng-template matTabContent>
            <app-table
              [dataSource]="u['legislators'].federal"
              [columnSource]="legislatorCols"
              routeType="member"
              stateCd="us"
            ></app-table>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    }
  }
</div>
