@if (memberDetails()) {
<h1>
  {{ memberDetails().name }}
</h1>

<ul>
  <li>{{ memberDetails().chamber }} District {{ memberDetails().district }}</li>
  <li>
    Email: <a href="mailto:{{ memberDetails().email }}">{{ memberDetails().email }}</a>
  </li>
</ul>

<h2>Bill Sponsorships</h2>
<mat-tab-group>
  <app-table
    [dataSource]="sponsorships()"
    [columnSource]="sponsorshipCols"
    [state]="stateCd()"
  ></app-table>
</mat-tab-group>
} @else if (billDetails()) {
<h1>{{ billDetails().id }}</h1>

<p>{{ billDetails().text }}</p>

<h2>Cosponsors</h2>
<mat-tab-group>
  @for (version of billVersions(); track version.id) {
  <mat-tab label="{{ version.id }}">
    <app-table
      [dataSource]="version.data"
      [columnSource]="cosponsorCols"
      [state]="stateCd()"
    ></app-table>
  </mat-tab>
  }
</mat-tab-group>
} @else {
<h1>Whoops - Something went wrong!</h1>
<p>If you're seeing this, it means you followed a link to resource that doesn't exist.</p>
<p>
  If you had a bill bookmarked, we may not be tracking it anymore. If you clicked on a link to a
  Legislator, it may be that link is missing part of the person's name (commonly a 'Jr' or middle
  initial). Try going to back to 'Home' and look for the person or bill in the list, and we'll see
  if we can figure out what went wrong.
</p>
<p>Thank you for your time! - The Management</p>
}
