@use '@angular/material' as mat;

// Keep your base setup, it acts as a fallback before JS loads
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        // This will be overwritten at runtime by our Service
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: 'light dark';
  // Ensure we use the system variables that our Service updates
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
}
