<div class="dashboard-container">
  @if (isLoading()) {
  <div class="loading-shade">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @if (error()) {
  <div class="error-container">
    <p>Unable to load legislative data.</p>
  </div>
  }

  <mat-tab-group
    [selectedIndex]="selectedTabIndex()"
    (selectedIndexChange)="onTabChange($event)"
    mat-stretch-tabs="true"
    animationDuration="0ms"
  >
    <mat-tab label="Bills">
      <div class="tab-content">
        <app-table
          [dataSource]="bills()"
          [columnSource]="billCols"
          routeType="bill"
          [stateCd]="stateCd()"
        >
        </app-table>
      </div>
    </mat-tab>

    <mat-tab label="Senate">
      <div class="tab-content">
        <app-table
          [dataSource]="senateMembers()"
          [columnSource]="memberCols"
          routeType="member"
          chamber="SENATE"
          [stateCd]="stateCd()"
        >
        </app-table>
      </div>
    </mat-tab>

    <mat-tab label="Assembly">
      <div class="tab-content">
        <app-table
          [dataSource]="assemblyMembers()"
          [columnSource]="memberCols"
          routeType="member"
          chamber="ASSEMBLY"
          [stateCd]="stateCd()"
        >
        </app-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
